table
{
    border-collapse: collapse; /* 'cellspacing' equivalent */
    /* table-border-color-light: rgb(102,102,102);
    table-border-color-dark: rgb(0,0,0);  */
	/*
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	*/
	border-radius: 5px;
	-moz-border-radius: 5px !important;
	/*border-collapse: collapse !important;
	border: none !important;*/
}

td, th
{
	font-size: 	20px;
	/*padding-left: 0.5em;
    padding-right: 0.2em;*/
    padding-top: 1px;
    padding-bottom: 1px;	
	
	border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #555555;
	
	vertical-align: middle;
}

td.wnav
{
	font-size: 	12px;
	padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

td.WithBorders, th.WithBorders
{
	font-size: 	20px;
	padding-left: 0.5em;
    padding-right: 0.2em;
    padding-top: 1px;
    padding-bottom: 1px;	
	
	border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #555;
}

td.NoTopBotm
{
	font-size: 	20px;
	padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 2px;
    padding-bottom: 3px;	
	border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #555555;
}

/*td.WithBottom
{
	border-style: solid;
    border-width: 0px 0px 1px 0px;
}
*/
td.NoSides, th.NoSides
{
	font-size: 	20px;
	padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 2px;
    padding-bottom: 2px;	
	border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: #555555;
}

td.SidesLang, th.SidesLang
{
	font-size: 	20px;
	padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 2px;
    padding-bottom: 2px;	
	border-style: solid;
    border-width: 0px 1px 0px 1px;
    border-color: #555555;
}

td.SideBotts, th.SideBotts
{
	font-size: 	20px;
	padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 2px;
    padding-bottom: 2px;	
	border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #555555;
}

td.wbanner
{
	width		: 100%;
	background	: url("../img/blue2.jpg");
}

td.NoBorders, th.NoBorders
{
	font-size: 	20px;
	padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;	
    border-width: 0px 0px 0px 0px;
}

td.wpaddField, th.wpaddField
{
	font-size: 	20px;
	background: #FFCC99;
	padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;	
}

td.wpadd, th.wpadd
{
	font-size: 		20px;
	padding-left: 	3px;
    padding-right: 	3px;
    padding-top: 	2px;
    padding-bottom: 2px;	
}

td.wpaddPOSlbl, th.wpaddPOSlbl
{
	font-size: 	20px;
	font-weight: bold;
	padding: 1px 15px 1px 5px;
	color: #fff;
	background: #000066;
}

td.wpaddPOS, th.wpaddPOS
{
	font-size: 	30px;
	font-weight: bold;
	padding: 1px 15px 1px 5px;
	color: #fff;
	background: #000066;
}

td.wPOSChenslbl, th.wPOSChenslbl
{
	font-size: 	20px;
	font-weight: bold;
	padding: 1px 15px 1px 5px;
	color: #FFF;
	background: #FF00AA;
}

td.hilite, th.hilite
{
	font-size: 	20px;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	color: #333;
	background: #ccffcc;
}

td.wPOSChens, th.wPOSChens
{
	font-size: 	35px;
	font-weight: bold;
	padding: 1px 15px 1px 5px;
	color: #FFF;
	background: #FF00AA;
}


td.wtitle, th.wtitle
{
	font-size: 	20px;
	color: #FFFFFF;
	background: #6633FF;
	padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;	
}

td.ColHeadsWdBorder, th.ColHeadsWdBorder
{
	font-size: 	20px;
	background: #660099; /*99FFFF*/
	color: #FFFFFF;
	
	padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
	
	border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
}

td.total, th.total
{
	border-top: 6px double #555;
	border-bottom: 6px single #555;
	border-left: 0px;
	border-right: 0px;
	
	font-size: 	20px;
	font-weight: bold;
	padding: 5px;
	/*text-align:right;*/
}

td.extamount, th.extamount
{
	font-size: 	20px;
	font-weight: bold;
	padding: 0 5px 0 5px;
	/* text-align:right; */
}

/*
table {
  -moz-border-radius: 5px !important;
  border-collapse: collapse !important;
  border: none !important;
}
table th, table td { border: none !important }
table th:first-child {
  -moz-border-radius: 5px 0 0 0 !important;
}
table th:last-child {
  -moz-border-radius: 0 5px 0 0 !important;
}
table tr:last-child td:first-child {
  -moz-border-radius: 0 0 0 5px !important;
}
table tr:last-child td:last-child {
  -moz-border-radius: 0 0 5px 0 !important;
}
table tr:hover td { background-color: #ddd !important }
*/